[user]
	email = francis.begyn@gmail.com
	name = Francis Begyn
	signingkey = 274FC0E15E971FE8
[merge]
	tool = vimdiff
	conflictstyle = diff3
[gpg]
	program = gpg2
[commit]
  gpgsign = true
[alias]
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  a = add
  c = commit --verbose
  cm = commit -m
  m = commit --amend --verbose

  d = diff
  ds = diff -s-stat
  dc = diff --cached

  s = status -s
  co = checkout
  cob = checkout -b

  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  la = "!git config -l | grep alias | cut -c 7-"

  ra = remote add
  ac = !git add . && git commit -am

  p = push
  pa = push --all
  pu = push -u
[mergetool]
	prompt = false
