! Aesthetics !
#include "/home/francis/.config/nord-xresources/src/nord"

URxvt.background: rgba:0000/0000/0200/c200

! Fonts and stuff !
URxvt.font: xft:Dina,xft:Symbola
!URxvt.letterSpace: 1
URxvt.depth: 32
URxvt.savelines: 10000
! Scrolling stuff !
URxvt.scrollBar:	false

! Cursor color
URxvt.cursorColor: gray

! Disable terminal printing
URxvt.print-pipe: "cat /dev/null"

! Extensions !
URxvt.perl-ext-common:	default,url-select,keyboard-select,clipboard
! URL select !
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
! Keyboard select !
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search
! Matcher !
URxvt.url-launcher: /usr/bin/xdg-open
! clipboard
! update clipboard whenever primary gets updated
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! Xautolocker config
Xautolock.time: 5
Xautolock.killtime: 30
Xautolock.killer: /usr/bin/systemctl suspend
Xautolock.notify: 10
Xautolock.notifier: /usr/bin/notify-sendsend "Autolocker" "Locking screen in 10 seconds"
Xautolock.detectsleep: true
Xautolock.corners: --00
Xautolock.locker: /usr/bin/i3lock -c 000000

! Rofi aesthetics !
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: nord0,  nord4,  nord1,  nord14,  nord0
rofi.color-urgent: nord0,  nord4,  nord1,  nord14,  nord0
rofi.color-active: nord0,  nord4,  nord1,  nord14,  nord0
!                  'background', 'border'
rofi.color-window: nord0,      nord10
